.form {
    // .form__top

    &__top {
        margin-bottom: 40px;
        padding-bottom: 20px;

        border-bottom: 1px solid $stroke;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }

    // .form__row

    &__row {
        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin-bottom: 16px;
            }
        }
    }

    // .form__item

    &__item {
        input,
        textarea {
            border-radius: 10px;
            background-color: $white;
            padding: 20px;
            width: 100%;
            height: 60px;

            font-size: 16px;

            @media (max-width: 768px) {
                border-radius: 5px;
                padding: 10px;
                height: 50px;
                font-size: 14px;
            }
        }

        textarea {
            height: 120px;
            resize: none;

            @media (max-width: 768px) {
                height: 80px;
            }
        }
    }

    // .form__bottom

    &__bottom {
        margin-top: 50px;

        @media (max-width: 1024px) {
            margin-top: 40px;
        }

        @media (max-width: 768px) {
            margin-top: 30px;
        }

        p {
            max-width: 400px;
            font-size: 14px;

            @media (max-width: 1024px) {
                font-size: 12px;
            }

            a {
                color: $accent;
                text-decoration: underline;
            }
        }

        ._btn {
            margin-top: 20px;
        }
    }

    // .form-white

    &-white {
        background-color: $white;
        border-radius: 10px;
        overflow: hidden;

        input,
        textarea {
            background-color: $background;
        }
    }
}
