$container: 1820;
$padding: 50;
$containerWithPadding: $container + ($padding * 2);

$accent: #dc130d;
$accent-2: #d03730;
$text: #151515;
$white: #ffffff;
$gray: #898989;
$stroke: #dddddd;
$background: #f5f5f5;
